@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
/* get scroll functionality without the ugly scrollbar */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Neucha", cursive;
  background-image: url("backgroung.jpg");
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  filter: brightness(95%);

  margin: 2rem 0;

  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  height: 90%;

  line-height: 1.5;
  max-width: 70%;
}

.header-name {
  font-size: 2rem;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.7rem;
}
input {
  width: 60%;
  height: 2rem;
}
input::placeholder {
  text-align: center;
}
.button-container {
  text-align: center;
}
/* animated hover effect for the button (copy/pasted) */
button {
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  width: 10rem;
  height: 3rem;
}

button:hover {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    red
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
/* *********************************************** */
.mesasge {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  color: #243a73;
}
footer {
  text-align: center;
}
a > * {
  color: black;
  font-size: 1.3rem;
}
a:hover {
  transform: scale(150%);
  transition: all smooth;

  transition-duration: 500ms;
}
footer > h6 {
  font-size: 1rem;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
  align-items: baseline;
}

.privacy-notice {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

/********CSS BREAKPOINTS */
@media screen and (min-width: 640px) {
  .container {
    max-width: 50%;
  }
}
